body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 900px;
    aspect-ratio: 16 / 9;
    margin: 20px auto;
    position: relative;
    background-color: black;
    border: 3px solid #444;
    border-radius: 8px;
}

video {
    width: 100%;
    height: auto;
    background-color: #000;
    pointer-events: none; /* Disables interaction with video controls */
}

#info-bar {
    font-size: 16px;
    font-weight: bold;
    background-color: #222;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    border-radius: 5px;
}

#fullscreen-btn, #refresh-btn {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
}

#fullscreen-btn:hover, #refresh-btn:hover {
    background-color: #666;
}

#button-container {
    margin-top: 20px;
}

#loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    display: none;
}

#video-container.fullscreen {
    border: none;
}

/* Watermark styling */
#watermark {
    position: absolute;
    left: 5%; /* 0% from the left side */
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px; /* Smaller text size */
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5); /* Decreased opacity */
    padding: 10px;
    display: none;
    z-index: 10;
}
